{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "globals": {
    "tabris": false,
    "window": false,
    "document": false,
    "navigator": false,
    "screen": false,
    "device": false,
    "fetch": false,
    "localStorage": false,
    "crypto": false,
    "cordova": false,
    "_": false,
    "ArrayBuffer": false,
    "ImageData": false,
    "Int8Array": false,
    "Uint8Array": false,
    "Uint8ClampedArray": false,
    "Int16Array": false,
    "Uint16Array": false,
    "Uint32Array": false,
    "Int32Array": false,
    "Float32Array": false,
    "Float64Array": false,
    "Promise": false,
    "WebSocket": false
  },
  "rules": {
    "no-empty": "off",
    "no-console": "off",
    "no-control-regex": "off",
    "semi": "error",
    "eqeqeq": ["error", "allow-null"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "no-trailing-spaces": "error",
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "max-len": ["error", 120, 2, {"ignoreUrls": true, "ignorePattern": "\\/\\^"}],
    "quotes": ["error", "single", "avoid-escape"],
    "curly": ["error", "all"],
    "eol-last": "error",
    "no-with": "error"
  }
}
