{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "tabris": false,
    "JSX": false,
    "localStorage": false,
    "XMLHttpRequest": false,
    "fetch": false,
    "device": false,
    "ImageData": false,
    "Worker": false,
    "onmessage": true,
    "postMessage": false
  },
  "rules": {
    "no-empty": "off",
    "no-console": "off",
    "no-control-regex": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "semi": "error",
    "eqeqeq": ["error", "allow-null"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "no-trailing-spaces": "error",
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "max-len": ["error", 120, 2, {"ignoreUrls": true, "ignorePattern": "\\/\\^"}],
    "quotes": ["error", "single", "avoid-escape"],
    "quote-props": ["error", "consistent-as-needed"],
    "curly": ["error", "all"],
    "eol-last": "error",
    "no-with": "error",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "arrow-body-style": ["error", "as-needed"],
    "object-shorthand": ["error", "always"]
  }
}
