{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "globals": {
    "tabris": false,
    "window": false,
    "document": false
  },
  "rules": {
    "no-var": "off",
    "prefer-arrow-callback": "off",
    "object-shorthand": "off"
  }
}
